@import "helper/vars.less";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: @black;
    margin: 0;
    
    &.no-scroll {
		overflow: hidden;
	}
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

@import "helper/scrollbar.less";
@import "blocks/header.less";
@import "blocks/container.less";
@import "blocks/header-logo.less";
@import "blocks/header-btn.less";
@import "blocks/center.less";
@import "blocks/nav.less";
@import "blocks/btns.less";
@import "blocks/btns-nav.less";
@import "blocks/tests.less";
@import "blocks/tests-item.less";
@import "blocks/tests-list.less";
@import "blocks/test.less";
@import "blocks/test-logo.less";
@import "blocks/test-content.less";
@import "blocks/test-statistic.less";
@import "blocks/footer.less";
@import "blocks/footer-inner.less";
@import "blocks/footer-content.less";
@import "blocks/modal.less";
@import "blocks/modal-window.less";
@import "blocks/registration.less";
@import "blocks/modal-social.less";
@import "blocks/slider-btns.less";