// main: ../style.less

.footer {
    width: 100%;
    min-height: 150px;
    background: @black;
    padding-top: 61px;
}

.footer__inner {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.footer__text {
    max-width: 275px;
    max-height: 25px;
    color: @gray-light;
    line-height: 21px;
    overflow: hidden;
    text-overflow: ellipsis;

    &:first-child {
        text-transform: uppercase;
    }
}

.footer__content {
    display: flex;
    justify-content: space-between;
    width: 165px;
    max-height: 80px;
    position: relative;
}

.footer__info {
    position: absolute;
    top: -119px;
    left: -90px;
    width: 350px;
    height: auto;
    padding: 10px 15px;
    background: @gray-light;
    border-radius: 10px;
    text-align: center;

    &-service {
        top: -140px;
    }
}

.footer__about,
.footer__service {
    color: @gray-light;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    background: transparent;
    border: 0;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }

    &:focus {
        text-decoration: underline;
        outline: 0;
    }
}