// main: ../style.less
.modal {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background: @gray-light;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.modal__window {
    width: 555px;
    height: 600px;
    background: @white;
    text-align: center;
    padding: 103px 103px 160px 92px;
    top: 0;
    left: 0;
    z-index: 15;
    position: relative;
    margin: auto;
}

.modal__return {
    width: 65px;
    height: 65px;
    border: 0;
    border-radius: 50%;
    background: url('../img/arrow-back.svg') no-repeat center center, @gray-light;
    position: absolute;
    top: 35px;
    left: 41px;
    padding: 0;
    cursor: pointer;
}

.modal__title {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: @black;
    margin-bottom: 121px;
}

.modal__submit {
    width: 360px;
    height: 80px;
    background: @red;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: @white;
    border: 0;
    margin-bottom: 21px;
    cursor: pointer;
}

.modal__link {
    display: block;
    width: 360px;
    height: 80px;
    background: @gray-light;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: @white;
    text-decoration: none;
    padding-top: 25px;
}