// main: ../style.less

.questions-list {
    display: flex;
    margin: 0;
    padding: 90px 0 0 0;
}

.questions-list__item {
    list-style: none;
    margin: 0 auto;
    max-width: 100%;
    word-wrap: break-word;
    display: flex;
    justify-content: center;

    & h2 {
        font-weight: normal;
        font-size: 30px;
        line-height: 35px;
        color: @black;
        margin-bottom: 70px;
    }

    & p {
        font-size: 24px;
        line-height: 28px;
        color: @black;
        margin-bottom: 47px;
    }
}

.question {
    border: 0;
    margin: 0;
    padding: 0;

    & label {
            display: inline-flex;
            align-items: center;

        // &:before {
        //     display: inline-block;
        //     content: "";
        //     width: 25px;
        //     height: 25px;
        //     margin-right: 19px;
        //     border-radius: 50%;
        //     background: @gray-light;
        // }

        // &:hover:before {
        //     background: @gray;
        // }

        // &.checked {
        //     &:before {
        //         background: @gray;
        //     }
        // }
    }

    span {
        display: block;
        position: relative;
        

        &:before {
            display: inline-block;
            content: "";
            width: 25px;
            height: 25px;
            margin-right: 19px;
            border-radius: 50%;
            background: @gray-light;
        }

        input:checked ~ & {
            &:before {
                background: @gray; 
            }
        }
    }
}

.questions-list__answer {
    display: none;
    // opacity: 0;
    // position: absolute;
    // width: 25px;
    // height: 25px;
    // border-radius: 50%;
    // margin: 0;
}
